<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <i class="fa fa-code"></i>
    <h2>Coding</h2>

    <p>
      I feel comfortable working on the front-end, preferably HTML5, Sass and
      React. My main development language is JavaScript (ECMAScript). I have
      also basic understanding of php and databases like mySQL.
    </p>
    <h3>
      Tools and frameworks I currently like to use:
    </h3>
    <ul class="tech-list">
      <li><a href="">React</a></li>
      <li><a href="">Redux</a></li>
      <li><a href="">Firebase</a></li>
      <li><a href="">Stripe</a></li>
      <li><a href="">GraphQL</a></li>
      <li><a href="">Apollo</a></li>
      <li><a href="">Webpack</a></li>
      <li><a href="">Yarn</a></li>
    </ul>
  </div>
  <div class="tech">
    <i class="fa fa-pencil-ruler"></i>
    <h2>Design & UX</h2>

    <p>
      In my experience, excellent products can only be created when design, UX
      and code work closely together as a team. I encourage design thinking. I
      like to use design systems. I like a quick ideation, prototyping, user
      testing and learning circle.
    </p>
    <h3>
      Tools and frameworks I am comfortable with:
    </h3>
    <ul class="tech-list">
      <li><a href="">Sketch</a></li>
      <li><a href="">Figma</a></li>
      <li><a href="">Storybook</a></li>
      <li><a href="">Atomic Design</a></li>
      <li><a href="">GSAP</a></li>
    </ul>
  </div>
  <div class="tech">
    <i class="fa fa-comments"></i>
    <h2>Collaboration</h2>

    <p>
      I perform best in small teams with diverse people involved in the process.
      I like the agile methology (although I have also seen it being
      misunderstood). In communication I always try to look for the most direct
      way.
    </p>
    <h3>
      Tools and frameworks I am comfortable with:
    </h3>
    <ul class="tech-list">
      <li><a href="">Git</a></li>
      <li><a href="">Github</a></li>
      <li><a href="">Bitbucket</a></li>
      <li><a href="">Jira</a></li>
      <li><a href="">Confluence</a></li>
      <li><a href="">Slack</a></li>
      <li><a href="">Rocket Chat</a></li>
    </ul>
  </div>
  <div class="tech">
    <i class="fa fa-graduation-cap"></i>
    <h2>Learning & Teaching</h2>
    <p>
      New technologies and devices are propagated at a frightening pace.
      Managing a successful career through technology changes depends on gaining
      and passing on knowledge. I love to teach and I always need to learn.
    </p>
    <h3>
      Tools that help me uplifting my knowledge:
    </h3>
    <ul class="tech-list">
      <li><a href="">Udemy</a></li>
      <li><a href="">Medium</a></li>
      <li><a href="">Stack Overflow</a></li>
      <li><a href="">Meetup</a></li>
      <li><a href="">Future Academy X</a></li>
      <li><a href="">Learning by doing</a></li>
    </ul>
  </div>
</div>
