<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <i class="fa fa-code"></i>
    <h2>Development</h2>

    <p>
      I feel most comfortable working on the front-end, using React. My main
      development language is JavaScript but I also have basic a understanding
      of php and databases like mySQL.
    </p>
    <h3>
      Tech Stack
    </h3>
    <ul class="tech-list">
      <li>HTML5</li>
      <li>Sass</li>
      <li>JavaScript</li>
      <li>ES6</li>
      <li>ES7</li>
      <li>React</li>
      <li>React Router</li>
      <li>React Lazy</li>
      <li>React Hooks</li>
      <li>React Memo</li>
      <li>React Context API</li>
      <li>React Styled Components</li>
      <li>Redux</li>
      <li>Redux Reselect</li>
      <li>Redux Persist</li>
      <li>Redux Thunk</li>
      <li>Redux Saga</li>
      <li>Firebase</li>
      <li>Heroku</li>
      <li>Stripe</li>
      <li>GraphQL</li>
      <li>Apollo</li>
    </ul>
  </div>
  <div class="tech">
    <i class="fa fa-pencil-ruler"></i>
    <h2>Design & UX</h2>

    <p>
      In my experience, excellent products are created when design, UX and
      development work as a team players. I encourage design systems and design
      thinking: learning in fast paced ideation, prototyping and user testing.
    </p>
    <h3>
      Tech Stack
    </h3>
    <ul class="tech-list">
      <li>Sketch</li>
      <li>Figma</li>
      <li>Invision</li>
      <li>Storybook</li>
      <li>GSAP</li>
      <li>Atomic Design</li>
      <li>Design Thinking</li>
    </ul>
  </div>
  <div class="tech">
    <i class="fa fa-comments"></i>
    <h2>Collaboration</h2>

    <p>
      I perform best in interdisciplinary teams. I like the agile methodology
      (although I have also seen it being misunderstood). In communication I
      always try to look for the most direct way.
    </p>
    <h3>
      Tech Stack
    </h3>
    <ul class="tech-list">
      <li>Git</li>
      <li>Github</li>
      <li>Jira</li>
      <li>Confluence</li>
      <li>Asana</li>
      <li>Slack</li>
      <li>Rocket Chat</li>
      <li>Discord</li>
    </ul>
  </div>
  <div class="tech">
    <i class="fa fa-graduation-cap"></i>
    <h2>Learning & Teaching</h2>
    <p>
      New technologies and devices are propagated at a frightening pace.
      Managing a successful career through technology changes depends on gaining
      and passing on knowledge. I love to teach and I always need to learn.
    </p>
    <h3>
      Resources
    </h3>
    <ul class="tech-list">
      <li>Udemy</li>
      <li>Medium</li>
      <li>Meetup</li>
      <li>Future Academy X</li>
      <li>Learning by doing</li>
    </ul>
  </div>
</div>
