<div class="certificate-details">
  <h1>Certificates</h1>
</div>

<div class="certificates">
  <div class="certificate">
    <i class="fas fa-trophy"></i>
    <p class="subtitle">3 - 4 September 2019</p>
    <h2>Harnessing Neuro Science to Build High-Performance Cultures</h2>
    <p>2-day Leadership Masterclass <br />by Future Academy X</p>
  </div>
  <div class="certificate">
    <i class="fa fa-trophy"></i>
    <p class="subtitle">January 2019</p>
    <h2>Training in User Experience Design</h2>
    <p>20h UX Workshop <br />by UXperten</p>
  </div>
  <div class="certificate">
    <i class="fa fa-trophy"></i>
    <p class="subtitle">4 - 5 September 2017</p>
    <h2>Present. Convince. Impress.</h2>
    <p>2-day Communication Workshop <br />by Relation-S</p>
  </div>
  <div class="certificate">
    <i class="fa fa-trophy"></i>
    <p class="subtitle">6 - 7 April 2017</p>
    <h2>Leading without Superior Function</h2>
    <p>2-day Leadership Workshop <br />by Haufe Akademie</p>
  </div>
</div>
