<div id="particles-js-2">
  <div class="footer">
    <h2>
      <span class="site-description">Let's get in touch!</span>
    </h2>
    <p>
      I am currently attending a React masterclass with my mentors
      <a href="https://github.com/aneagoie">Andrei Neagoie</a> and
      <a href="https://github.com/ZhangMYihua">Yihua Zhang</a> on Udemy to
      extend my knowledge on building modern user interfaces and becoming a
      Senior React developer.
    </p>
    <p>I will be available for hire or freelance work from 1st January 2020.</p>
    <p>Feel free to contact me and please follow my progress on Github!</p>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:stefan.dosch@gmail.com"
        ><i class="icon fa fa-envelope"></i
      ></a>
      <!-- <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/mauriciourraco7"><i class="icon fa fa-instagram" aria-hidden="true"></i></a> -->
      <!-- <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/mauricio.urraco"><i class="icon fa fa-facebook" aria-hidden="true"></i></a> -->
      <!-- <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/murraco"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a> -->
      <a aria-label="My Github" target="_blank" href="https://github.com/sdosch"
        ><i class="icon fa fa-github-alt" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{
    '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl
  }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
