<div class="employment-history">
  <i class="fas fa-user-tie"></i>
  <h2>Employment History</h2>
  <i class="fas fa-ellipsis-v timeline"></i>
  <p class="subtitle">11/2016 - 10/2019 (~4 years)</p>
  <h3>Senior Web Developer at Redblue Marketing GmbH</h3>
  <h4>Accomplishments</h4>
  <p>
    Establishing and maintaining an inhouse templating system to publish paid
    content on our web shops MediaMarkt and Saturn
  </p>
  <p>Constant optimisation of our development workflow</p>
  <p>Quality assurance and quality improvement across teams</p>
  <p>
    Training employees in web developing techniques and principles
  </p>
  <p>Organizing creative workshops to find new ideas for our products</p>
  <p>Presenting our products to the client</p>
  <p>Mentoring our apprentices</p>
  <p>Member of sounding board to define our company values</p>
  <p>Daily business</p>
  <i class="fas fa-ellipsis-v timeline"></i>
  <p class="subtitle">2000 - 2016 (~16 years)</p>
  <h3>Self employed Freelancer</h3>
  <h4>The Story</h4>
  <p>
    I started freelancing in 1998 during my study course in communication
    science at LMU Munich. Being quite successful in freelancing and frustrated
    with the formalities of my university I teamed up with a partner and we
    founded Liquidlounge in the year 2000, an organisation dedicated to deliver
    rich multimedia content to the web.
  </p>
  <p>
    Once Liquidlounge was born I decided to start a professional freelance
    career, resulting in never graduating in my university. Very early I focused
    on the Flash platform and became a specialist in the language ActionScript.
    With ActionScript evolving I started to learn and use more complex coding
    patterns like composition and inheritance also structuring my code into MVC
    patterns.
  </p>
  <p>
    As the demand for CMS powered websites emergerged, I also specialized on
    delivering rich TYPO3 powered websites. I used jQuery to add the missing
    interactivity. But Flash was still heavily requested in countless online
    marketing campaigns. I was mostly contracted, whenever my clients could not
    complete a task with the animation timeline and code was needed.
  </p>
  <p>
    In the end, one of my clients (Redblue Marketing GmbH) offered me a
    permanent employment to help establish their new born digital unit.
  </p>

  <h4>Companies I have worked for (selection)</h4>
  <p>
    2K Games, Blizzard Activision, Burda, Claus von Wagner (Comedian), Der
    Pschorr, HerbX Film, Ravensburger Digital, Rockstar Games, Take Two
    Interactive, Tierärztliche Klinik Oberhaching, Travian Games
  </p>
  <h4>Agencies I have worked with (selection)</h4>
  <p>
    ABW, Aquarius Consulting, Chromedia, CODE64, Edelweiss 72, Head First
    Communication (London), Interone, MediaCom, Plan.net, Redblue, Serviceplan,
    SnipClip, Webguerillas, Wunderman
  </p>
</div>
