<div class="employment-history">
  <i class="fas fa-user-tie"></i>
  <h2>Employment History</h2>
  <i class="fas fa-ellipsis-v timeline"></i>
  <p class="subtitle">11/2016 - 10/2019 (~4 years)</p>
  <h3>Senior Web Developer at Redblue Marketing GmbH</h3>
  <h4>Accomplishments</h4>
  <p>
    Establishing and maintaining an inhouse templating system to publish paid
    content on our web shops MediaMarkt and Saturn
  </p>
  <p>Installing an inhouse development workflow</p>
  <p>Training employees in web developing techniques and principles</p>
  <p>Organizing creative workshops to find new ideas for our products</p>
  <p>Successfully presenting our products to the client</p>
  <p>Selected board member to define our company values</p>

  <h4>Responsibilities</h4>
  <p>Constant optimisation of our development workflow</p>
  <p>Quality assurance and quality improvement across teams</p>
  <p>Cross-team consulting in the conception of lighthouse projects</p>
  <p>Cost and expense assessments</p>
  <p>Mentoring our apprentices</p>
  <p>Daily Business</p>

  <h4>
    Tools and Technologies
  </h4>
  <ul class="tech-list">
    <li>HTML5</li>
    <li>CSS</li>
    <li>Sass</li>
    <li>JavaScript</li>
    <li>jQuery</li>
    <li>Wordpress</li>
    <li>Gulp</li>
    <li>npm</li>
    <li>Git</li>
    <li>Gogs</li>
    <li>Github</li>
    <li>Bitbucket</li>
    <li>React</li>
    <li>ES6</li>
    <li>ES7</li>
    <li>TypeScript</li>
    <li>Jira</li>
    <li>Confluence</li>
    <li>Sketch</li>
    <li>Figma</li>
    <li>Storybook</li>
    <li>GSAP</li>
    <li>Design systems</li>
    <li>Atomic Design</li>
  </ul>

  <i class="fas fa-ellipsis-v timeline"></i>
  <p class="subtitle">2000 - 2016 (~16 years)</p>
  <h3>Self employed Freelancer</h3>
  <h4>My Business</h4>
  <p>Planning, designing ​​and developing online applications</p>
  <p>Building Rich Internet Applications (RIA)</p>
  <p>Creating CMS-powered Websites</p>
  <p>Implementing online marketing campaigns</p>
  <p>Designing and programming mobile apps, Facebook apps and online games</p>
  <p>
    Training and coaching in the area of ​​interaction design and development
  </p>

  <h4>
    Tools and Technologies
  </h4>
  <ul class="tech-list">
    <li>Adobe Flash</li>
    <li>Adobe Flex</li>
    <li>ActionScript (AS3)</li>
    <li>pureMVC</li>
    <li>TYPO3</li>
    <li>jQuery</li>
    <li>php</li>
    <li>mySql</li>
  </ul>

  <h4>Companies I have worked for (selection)</h4>
  <p>
    2K Games, Blizzard Activision, Burda, Claus von Wagner (Comedian), Der
    Pschorr, HerbX Film, Ravensburger Digital, Rockstar Games, Take Two
    Interactive, Tierärztliche Klinik Oberhaching, Travian Games
  </p>
  <h4>Agencies I have worked with (selection)</h4>
  <p>
    ABW, Aquarius Consulting, Chromedia, CODE64, Edelweiss 72, Head First
    Communication (London), Interone, MediaCom, Plan.net, Redblue, Serviceplan,
    SnipClip, Webguerillas, Wunderman
  </p>
  <i
    class="fas fa-ellipsis-v timeline"
    style="display:block; margin: 40px 0 20px"
  ></i>
  <i class="fas fa-graduation-cap"></i>
  <h2>Education</h2>
  <p>2 years of university study in communication science at LMU Munich</p>
  <p>Apprenticeship as advertising merchant at vwi Werbung GmbH</p>
  <p>Abitur diploma at Max-Planck-Gymnasium Munich</p>
  <p>
    High school diploma at Ripley High, West Virginia, USA <br />during my
    student exchange year
  </p>
  <h4>Spoken Languages</h4>
  <p>German native • English fluent • French basic</p>
</div>
