#about {
  font-size: 120%;

  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: grid;
  grid-template-columns: 1fr;
  p {
    font-size: 16px;
  }
  .tech {
    margin-top: 80px;
    h2,
    h3 {
      font-weight: 400;
      margin-top: 0;
      padding-top: 0;
    }
    i {
      color: $light;
    }
    .tech-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      li {
        display: inline-block;
        font-size: 1rem;
        margin: 2px;
        color: $purple;
        padding: 2px 12px;
        background-color: $light;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.25s;
      }
    }
    @media only screen and (min-width: $cut) {
      margin-top: 40px;
    }
  }
  @media only screen and (min-width: $cut) {
    font-size: 75px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 40px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
  h1 {
    font-weight: 400;
  }
}
