#about {
  font-size: 120%;

  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
  flex: 1 1 0;
  box-sizing: border-box;
  h2,
  h3 {
    font-weight: 400;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    font-size: 75px;
    flex-direction: row;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
  h1 {
    font-weight: 400;
  }
}
