#history {
  margin-top: 80px;
  font-size: 120%;
  background-color: $light;
  padding: 40px 0;
}

.employment-history {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 50%;
  }

  text-align: center;
  margin: 5px auto;
  h2 {
    font-weight: 400;
    margin: 0;
    padding: 20px;
    color: $purple;
  }
  h3 {
    margin: 0;
    padding: 0;
    color: $purple;
    @media only screen and (min-width: $cut) {
      font-size: 1.3rem;
      white-space: nowrap;
    }
  }
  h4 {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    color: $purple;
    @media only screen and (min-width: $cut) {
      font-size: 1.1rem;
      white-space: nowrap;
    }
  }
  p {
    color: $purple;
    font-size: 16px;
    @media only screen and (min-width: $cut) {
      font-size: 1.1rem;
    }
    &.subtitle {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      margin: 15px 0 5px;
    }
  }
  i {
    color: $purple;
    font-size: 60px;
    &.timeline {
      font-size: 30px;
    }
  }
}
